@import "../helpers/helpers.scss";

.inner_banner_wrap {
	@extend %relative_box;
	overflow: hidden;
	padding: 0;
	.banner_image {
		img {
			height: auto !important; // Ensures image scales naturally
			width: 100% !important;
			object-fit: cover;
		}
	}
	.banner_content {
		@extend %full_overlay;
		right: 50%;
		bottom: 50%;
		display: grid;
		place-items: center center;
		// overflow: hidden;
		// height: 50px;
		h1,
		p {
			line-height: 1;
		}
	}
}
