@import "../helpers/helpers.scss";

.HomeAbout {
	overflow: hidden;
	background-color: white;
	.Wrapper {
		height: 100vh;
		@extend %d_flex;
		justify-content: space-between;
		// gap: 100px;

		.contentDiv {
			// overflow: hidden;
			width: 60%;
			.section_tag {
				border: 1px solid var(--color_primary);
				border-radius: 30px;
				width: fit-content;
				padding: 0 15px;
			}
		}
		.ImageDiv {
			width: 33%;
			@extend %relative_box;

			.lines {
				position: absolute;
				right: -10%;
				top: -10%;
				z-index: -1;
			}
			.potrait {
			}
		}
	}
}
